{% extends 'base_layout.html' %}
{% load static %}
{% load categories %}
{% block content %}
    <section class="section">
        <div class="container_nav section is-medium ">
            <h1 class="has-text-weight-bold title has-text-warning">Пицца</h1>
            <div class="columns is-multiline p-0">
                {% for product in products %}
                    <div class="column is-3">
                        <img src="{{ product.thumb.url }}" alt="">
                        <h2 class="title has-text-weight-bold">{{ product.title }}</h2>
                        <p class="subtitle is-6 mt-0">{{ product.description }}</p>
                        <div class="columns is-vcentered is-justify-content-space-between">
                            <h1 class="ml-4 is-size-4 has-text-weight-bold">от {{ product.price }} ₽</h1>
                            <button class="button is-rounded is-warning has-text-weight-bold mr-3">В корзину
                            </button>
                        </div>
                    </div>
                    </div>
                    </div>
                {% endfor %}
    </section>
{% endblock %}