{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

    <section class="section">
    <img class="imgleft" src="{% static 'uploads/img-14.png' %}" alt="">
        <div class="columns p-5 m-auto is-centered">
            <div class="column mx-4 is-4 ">
                <div class="card">
                    <div class="is-4by3">
                        <figure class="image">
                            <img src="{% static 'uploads/img7.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title ">Дарим кибер-призы</p>
                            </div>
                        </div>

                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/Rectangle-77-2.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img6.png' %}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                        батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                        розыгрыша игровых ключей и больших пицц 29 июня.
                        <div class="content">
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns m-auto is-centered">
            <div class="column mx-4 is-4 ">
                <div class="card">
                    <div class="is-4by3">
                        <figure class="image">
                            <img src="{% static 'uploads/Rectangle-77-4.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title ">Дарим кибер-призы</p>
                            </div>
                        </div>

                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img8.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img9.png' %}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                        батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                        розыгрыша игровых ключей и больших пицц 29 июня.
                        <div class="content">
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns m-auto is-centered">
            <div class="column mx-4 is-4 ">
                <div class="card">
                    <div class="is-4by3">
                        <figure class="image">
                            <img src="{% static 'uploads/Rectangle-77-7.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title ">Дарим кибер-призы</p>
                            </div>
                        </div>

                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/Rectangle-77-8.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img5.png' %}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                        батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                        розыгрыша игровых ключей и больших пицц 29 июня.
                        <div class="content">
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns m-auto is-centered">
            <div class="column mx-4 is-4 ">
                <div class="card">
                    <div class="is-4by3">
                        <figure class="image">
                            <img src="{% static 'uploads/Rectangle-77-7.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title ">Дарим кибер-призы</p>
                            </div>
                        </div>

                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/Rectangle-77-8.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img5.png' %}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                        батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                        розыгрыша игровых ключей и больших пицц 29 июня.
                        <div class="content">
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns m-auto is-centered">
            <div class="column mx-4 is-4 ">
                <div class="card">
                    <div class="is-4by3">
                        <figure class="image">
                            <img src="{% static 'uploads/img4.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title ">Дарим кибер-призы</p>
                            </div>
                        </div>

                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img10.png' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        <div class="content">
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column mx-4 is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'uploads/img4.png' %}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Дарим кибер-призы</p>
                            </div>
                        </div>
                        Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще кокосовый
                        батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                        розыгрыша игровых ключей и больших пицц 29 июня.
                        <div class="content">
                        </div>
                        <button class="button is-warning">
                            <h5 class="title is-6">Посмотреть</h5>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </section>
<img class="image-down-right" src="{% static 'uploads/image-34-1.png' %}" alt="">

{% endblock %}