{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <section class="section is-medium ">
        <img class="imgleft" src="{% static 'uploads/img-14.png' %}" alt="">
        <div class="container_nav">
            <div class="columns m-auto is-centered">
                <div class="column mx-4 is-4 ">
                    <div class="card">
                        <div class="is-4by3">
                            <figure class="image">
                                <img src="{% static 'uploads/Rectangle-77-4.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 ">Дарим кибер-призы</p>
                                </div>
                            </div>

                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img8.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img9.png' %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                            кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                            <div class="content">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="columns m-auto is-centered">
                <div class="column mx-4 is-4 ">
                    <div class="card">
                        <div class="is-4by3">
                            <figure class="image">
                                <img src="{% static 'uploads/Rectangle-77-4.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 ">Дарим кибер-призы</p>
                                </div>
                            </div>

                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img8.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img9.png' %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                            кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                            <div class="content">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="columns m-auto is-centered">
                <div class="column mx-4 is-4 ">
                    <div class="card">
                        <div class="is-4by3">
                            <figure class="image">
                                <img src="{% static 'uploads/Rectangle-77-4.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 ">Дарим кибер-призы</p>
                                </div>
                            </div>

                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img8.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img9.png' %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                            кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                            <div class="content">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="columns m-auto is-centered">
                <div class="column mx-4 is-4 ">
                    <div class="card">
                        <div class="is-4by3">
                            <figure class="image">
                                <img src="{% static 'uploads/Rectangle-77-4.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 ">Дарим кибер-призы</p>
                                </div>
                            </div>

                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img8.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            <div class="content">
                                Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                                кокосовый
                                батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим
                                участником
                                розыгрыша игровых ключей и больших пицц 29 июня.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column mx-4 is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'uploads/img9.png' %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Дарим кибер-призы</p>
                                </div>
                            </div>
                            Вот так ачивка! Закажите Кибер-комбо и получите доступ к играм от MY.GAMES, а еще
                            кокосовый
                            батончик и шоколадное печенье «Cyber» от Bite. А также станьте автоматическим участником
                            розыгрыша игровых ключей и больших пицц 29 июня.
                            <div class="content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <img class="image-down-right2" src="{% static 'uploads/image-34-1.png' %}" alt="">
    </div>

{% endblock %}